@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #006429;
  color: white;
}

body {
  font-family: "Saira", sans-serif;
}

@layer components {
  .active-item {
    @apply font-semibold text-primary underline;
  }
}

.scroll-bar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scroll-bar::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background: #006429;
  border-radius: 10px;
}

#H_2 {
  opacity: 0;
  fill-opacity: 0;
  animation: text-animation 2s ease-in-out forwards,
    text-fill-sahdeOut 1.5s ease 3.6s forwards;
}

#E_3 {
  opacity: 0;
  fill-opacity: 0;
  animation: text-animation 2s ease-in-out 0.2s forwards,
    text-fill-sahdeOut 1.5s ease 3.6s forwards;
}

#R_2 {
  opacity: 0;
  fill-opacity: 0;
  animation: text-animation 2s ease-in-out 0.4s forwards,
    text-fill-sahdeOut 1.5s ease 3.6s forwards;
}

#B_2 {
  opacity: 0;
  fill-opacity: 0;
  animation: text-animation 2s ease-in-out 0.6s forwards,
    text-fill-sahdeOut 1.5s ease 3.6s forwards;
}

#A_2 {
  opacity: 0;
  fill-opacity: 0;
  animation: text-animation 2s ease-in-out 0.8s forwards,
    text-fill-sahdeOut 1.5s ease 3.6s forwards;
}

#L_2 {
  opacity: 0;
  fill-opacity: 0;
  animation: text-animation 2s ease-in-out 1s forwards,
    text-fill-sahdeOut 1.5s ease 3.6s forwards;
}

#I_2 {
  opacity: 0;
  fill-opacity: 0;
  animation: text-animation 2s ease-in-out 1.2s forwards,
    text-fill-sahdeOut 1.5s ease 3.6s forwards;
}

#F_2 {
  opacity: 0;
  fill-opacity: 0;
  animation: text-animation 2s ease-in-out 1.4s forwards,
    text-fill-sahdeOut 1.5s ease 3.6s forwards;
}

#E_4 {
  opacity: 0;
  fill-opacity: 0;
  animation: text-animation 2s ease-in-out 1.6s forwards,
    text-fill-sahdeOut 1.5s ease 3.6s forwards;
}

@keyframes text-animation {
  0% {
    stroke-dasharray: 1 1000;
    stroke-dashoffset: 0;
    stroke-width: 0;
    opacity: 1;
  }
  100% {
    stroke-dasharray: 150 0;
    stroke-dashoffset: 10;
    stroke-width: 1;
    opacity: 1;
  }
}

@keyframes text-fill-sahdeOut {
  0% {
    fill-opacity: 0;
    stroke-width: 1;
  }

  100% {
    fill-opacity: 1;
    stroke-width: 0;
  }
}
